<?xml version="1.0" encoding="utf-8"?>
<manifest package="dv606.my222au.assignment2"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

<!--Calendar app-->
        <activity
            android:name=".myCountriesCalendar.MyCountriesCalendar"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".myCountriesCalendar.AddCountry">
        </activity>
        <activity android:name=".myCountriesCalendar.Preferences">

        </activity>


        <!--MP3 player-->
        <activity android:name=".mp3player.Mp3Player"
                  android:screenOrientation="portrait">

        </activity>


        <service android:name=".mp3player.Mp3PlayerService" android:enabled="true" />


        <!-- ALRAM --> <activity
        android:name=".alarmClock.AlarmMainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>


    </activity>

        <activity android:name=".alarmClock.AlarmActivity"/>
        <receiver android:name=".alarmClock.AlarmReceiver" android:label="Alarm Receiver">
            <intent-filter>
                <action android:name="project.my222au.alarmclock.ALARM_BROADCAST" />
            </intent-filter>
        </receiver>

    </application>

</manifest>